if TARGET_SOM_IMX8M_PLUS || TARGET_UCM_IMX8M_PLUS || TARGET_IOT_GATE_IMX8PLUS

config DRAM_D2D4
	bool "Enable D2,D4 or D1,D8 dram support"
	default n
	help
	  If 'Y' then support for D2 and D4 configuration is enabled
	  else support for D1 and D8 configuration is enabled

config ATF_LOAD_ADDR
	hex "bl31.bin load address"
	default 0x00970000

config TEE_LOAD_ADDR
	hex "tee.bin load address"
	default 0x56000000

endif
