if TARGET_SOM_IMX8M_PLUS

menu "som-imx8m-plus config options"

config SYS_BOARD
	default "som-imx8m-plus"

config SYS_VENDOR
	default "compulab"

config SYS_CONFIG_NAME
	default "som-imx8m-plus"

config DEFAULT_DTB
	default "sbc-som-imx8m-plus.dtb"

config DEFAULT_FDT_FILE
	default "som-imx8m-plus.dtb"

config DEFAULT_DEVICE_TREE
	default "som-imx8m-plus"

config SYS_I2C_EEPROM_BUS
	int "SOM eeprom bus address"
	default 1

config SYS_I2C_EEPROM_ADDR
	hex "SOM eeprom dev address"
	default 0x50

config SYS_I2C_EEPROM_BUS_SB
	hex "SB eeprom bus address"
	default 0x2

config SYS_I2C_EEPROM_ADDR_SB
	hex "SB eeprom dev address"
	default 0x54

endmenu

endif
