if TARGET_SOM_IMX8M_PLUS

config SYS_BOARD
	default "som-imx8m-plus"

config SYS_VENDOR
	default "compulab"

config SYS_CONFIG_NAME
	default "som-imx8m-plus"

config DEFAULT_DTB
	string
	default "sbc-som-imx8m-plus.dtb"

config DEFAULT_FDT_FILE
	default "som-imx8m-plus.dtb"

config DEFAULT_DEVICE_TREE
	default "som-imx8m-plus"

config SYS_I2C_EEPROM_BUS
	int
	default 1

config SYS_I2C_EEPROM_ADDR
	hex
	default 0x50

config SYS_I2C_EEPROM_BUS_SB
	hex
	default 0x2

config SYS_I2C_EEPROM_ADDR_SB
	hex
	default 0x54

endif
