if TARGET_CL_IMX93

config SYS_BOARD
	default "imx93"

config SYS_VENDOR
	default "compulab/plat"

config SYS_CONFIG_NAME
	default "compulab-imx93"

config DEFAULT_DEVICE_TREE
	default "cl-imx93"

config DEFAULT_FDT_FILE
	default "cl-imx93.dtb"

endif
