if TARGET_UCM_IMX93

config SYS_BOARD
	default "ucm-imx93"

config SYS_VENDOR
	default "compulab"

config SYS_CONFIG_NAME
	default "ucm-imx93"

config UCM_IMX93_LPDDR4X
	bool "Using LPDDR4X Timing and PMIC voltage"
	default y
	select IMX9_LPDDR4X
	help
	  Select the LPDDR4X timing and 0.6V VDDQ

source "board/freescale/common/Kconfig"

endif
