choice
	prompt  "CompuLab i.MX8M select"

config TARGET_UCM_IMX8M_MINI
	bool "CompuLab ucm-imx8m-mini"
	select IMX8MM
	select SUPPORT_SPL
	select IMX8M_LPDDR4

config TARGET_MCM_IMX8M_MINI
	bool "CompuLab mcm-imx8m-mini"
	select IMX8MM
	select SUPPORT_SPL
	select IMX8M_LPDDR4

config TARGET_IOT_GATE_IMX8
	bool "CompuLab iot-gate-imx8"
	select IMX8MM
	select SUPPORT_SPL
	select IMX8M_LPDDR4

config TARGET_UCM_IMX8M_PLUS
	bool "CompuLab ucm-imx8m-plus"
	select IMX8MP
	select BINMAN
	select SUPPORT_SPL
	select IMX8M_LPDDR4

config TARGET_MCM_IMX8M_PLUS
	bool "CompuLab mcm-imx8m-plus"
	select IMX8MP
	select BINMAN
	select SUPPORT_SPL
	select IMX8M_LPDDR4

config TARGET_SOM_IMX8M_PLUS
	bool "CompuLab som-imx8m-plus"
	select IMX8MP
	select BINMAN
	select SUPPORT_SPL
	select IMX8M_LPDDR4

config TARGET_IOT_GATE_IMX8PLUS
	bool "CompuLab iot-gate-imx8plus"
	select IMX8MP
	select BINMAN
	select SUPPORT_SPL
	select IMX8M_LPDDR4

config TARGET_IOTDIN_IMX8P
	bool "CompuLab iotdin-imx8p"
	select IMX8MP
	select BINMAN
	select SUPPORT_SPL
	select IMX8M_LPDDR4

config TARGET_IOT_GATE_IMX8PV2
	bool "CompuLab iot-gate-imx8pv2"
	select IMX8MP
	select BINMAN
	select SUPPORT_SPL
	select IMX8M_LPDDR4
endchoice

source "board/compulab/plat/imx8mp/Kconfig"
source "board/compulab/plat/imx8mm/Kconfig"
source "board/compulab/common/Kconfig"
source "board/compulab/ucm-imx8m-mini/Kconfig"
source "board/compulab/mcm-imx8m-mini/Kconfig"
source "board/compulab/iot-gate-imx8/Kconfig"
source "board/compulab/ucm-imx8m-plus/Kconfig"
source "board/compulab/mcm-imx8m-plus/Kconfig"
source "board/compulab/som-imx8m-plus/Kconfig"
source "board/compulab/iot-gate-imx8plus/Kconfig"
source "board/compulab/iotdin-imx8p/Kconfig"
source "board/compulab/iot-gate-imx8pv2/Kconfig"
