if TARGET_IOT_GATE_IMX8PLUS

config SYS_BOARD
	default "iot-gate-imx8plus"

config SYS_VENDOR
	default "compulab"

config SYS_CONFIG_NAME
	default "iot-gate-imx8plus"

config DEFAULT_DTB
	string
	default "iot-gate-imx8plus.dtb"

config DEFAULT_FDT_FILE
	default "iot-gate-imx8plus.dtb"

config DEFAULT_DEVICE_TREE
	default "iot-gate-imx8plus"

config SYS_I2C_EEPROM_BUS
	int
	default 1

config SYS_I2C_EEPROM_ADDR
	hex
	default 0x50

config SYS_I2C_EEPROM_BUS_SB
	hex
	default 0x1

config SYS_I2C_EEPROM_ADDR_SB
	hex
	default 0x54

endif
