// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
// Copyright 2025 Compulab

#include "cl-som-shared-imx93.dtsi"

/{
	aliases {
		ethernet1 = &fec;
	};

	dsi_host: dsi-host {
		compatible = "synopsys,dw-mipi-dsi";
		status = "okay";
	};
};

&dphy {
	status = "okay";
};

&dsi {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	panel@0 {
		compatible = "startek,ili9881c";
		reg = <0>;
		reset-gpio = <&pca9555 4 GPIO_ACTIVE_LOW>;
		dsi-lanes = <4>;
		panel-width-mm = <63>;
		panel-height-mm = <115>;
		status = "okay";

		display-timings {
			native-mode = <&timing1>;
				timing1: timing1 {
				clock-frequency = <60000000>;
				/*x*/
				hsync-len    = <10>;
				hback-porch  = <30>;
				hactive      = <720>;
				hfront-porch  = <20>;
				/*y*/
				vsync-len    = <10>;
				vback-porch  = <20>;
				vactive      = <1280>;
				vfront-porch = <10>;
				/*polarity*/
				vsync-active = <1>;
				hsync-active = <1>;
				de-active = <1>;
			};
		};
		port {
			ili9881c_from_dsim: endpoint {
				remote-endpoint = <&dsi_out>;
			};
		};
	};
	ports {
		port@1 {
			dsi_out: endpoint {
				remote-endpoint = <&ili9881c_from_dsim>;
			};
		};
	};
};

&lcdif {
	status = "okay";
	assigned-clock-rates = <300000000>, <121000000>, <400000000>, <133333333>;
};

&lpi2c3 {
        pca9555:pca9555@20 {
                compatible = "nxp,pca9555";
                gpio-controller;
                #gpio-cells = <2>;
                reg = <0x20>;
        };

	eeprom@54 {
		compatible = "atmel,24c08";
		reg = <0x54>;
		pagesize = <16>;
	};
};

&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fec>;
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy2>;
	fsl,magic-packet;
	status = "disabled";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		clock-frequency = <5000000>;

		ethphy2: ethernet-phy-fec@5 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <5>;
			eee-broken-1000t;
		};
	};
};

&iomuxc {
	pinctrl_fec: fecgrp {
		fsl,pins = <
			MX93_PAD_ENET2_MDC__ENET1_MDC			0x57e
			MX93_PAD_ENET2_MDIO__ENET1_MDIO			0x57e
			MX93_PAD_ENET2_RD0__ENET1_RGMII_RD0		0x57e
			MX93_PAD_ENET2_RD1__ENET1_RGMII_RD1		0x57e
			MX93_PAD_ENET2_RD2__ENET1_RGMII_RD2		0x57e
			MX93_PAD_ENET2_RD3__ENET1_RGMII_RD3		0x57e
			MX93_PAD_ENET2_RXC__ENET1_RGMII_RXC		0x5fe
			MX93_PAD_ENET2_RX_CTL__ENET1_RGMII_RX_CTL	0x57e
			MX93_PAD_ENET2_TD0__ENET1_RGMII_TD0		0x57e
			MX93_PAD_ENET2_TD1__ENET1_RGMII_TD1		0x57e
			MX93_PAD_ENET2_TD2__ENET1_RGMII_TD2		0x57e
			MX93_PAD_ENET2_TD3__ENET1_RGMII_TD3		0x57e
			MX93_PAD_ENET2_TXC__ENET1_RGMII_TXC		0x5fe
			MX93_PAD_ENET2_TX_CTL__ENET1_RGMII_TX_CTL	0x57e
		>;
	};
};

#if IS_ENABLED(CONFIG_VIDEO_IMX93_LVDS)
#include "cl-imx93-lvds.dtsi"
#endif
