// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2026 CompuLab
 */

#include <dt-bindings/leds/common.h>

/ {
	chosen {
		bootargs = "console=ttymxc1,115200 earlycon=ec_imx6q,0x30890000,115200 console=tty0";
		stdout-path = &uart2;
	};

	leds {
		/*pinctrl-0 = <&pinctrl_gpio_led>, <&pinctrl_user_leds>;*/

		pled_abmer: power-led-abmer {
			label = "PowerLED_Amber";
			color = <LED_COLOR_ID_AMBER>;
			gpios = <&pca9555_sb 3 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		pled_blue: power-led-blue {
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_user_leds>;
			label = "PowerLED_Blue";
			color = <LED_COLOR_ID_BLUE>;
			gpios = <&gpio3 21 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
	};
};

&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fec>, <&pinctrl_fec_phy_reset>;
	phy-mode = "rgmii-rxid";
	phy-handle = <&fecphy>;
	fsl,magic-packet;
	reset-gpios = <&gpio4 24 GPIO_ACTIVE_LOW>;
	reset-assert-us = <15000>;
	reset-deassert-us = <100000>;
	status = "okay";

	mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;

		fecphy: fec-phy@0 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <0>;
			eee-broken-1000t;
			realtek,clkout-disable;
		};
	};
};

&gpio1 {
	usb_hub_reset: usb-hub-reset {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_usb_hub_rst>;
		gpio-hog;
		gpios = <1 GPIO_ACTIVE_HIGH>;
		line-name = "usb_hub_reset";
		output-high;
	};
};

&gpio5 {
	tpm_nreset {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_tpm_reset>;
		gpio-hog;
		gpios = <11 GPIO_ACTIVE_HIGH>;
		line-name = "TPM_RSTn";
		output-high;
	};
};

&i2c3 {
	status = "okay";

	pca9555_sb: pca9555-sb@20 {
		compatible = "nxp,pca9555";
		gpio-controller;
		#gpio-cells = <2>;
		reg = <0x20>;

		gpio-line-names =
			"USB_PWR_EN", "GPIO_LED_R", "GPIO_LED_G", "GPIO_LED_OR",
			"GPIO_OUT0", "GPIO_OUT1", "GPIO_OUT2", "GPIO_OUT3",
			"POE_ASSEM_IND", "POE_PRESENCE", "MODEM_RF_KILLn", "MODEM_RSTn",
			"CSI1_CTRL", "CSI1_RST", "CSI1_PWR_DWN", "EN_5V_ISO1";
	};

	slb9673: slb9673-i2c3@2e {
		compatible = "infineon,slb9673", "tcg,tpm-tis-i2c";
		reg = <0x2e>;
	};

	eeprom_sb: eeprom-sb@50 {
		compatible = "atmel,24c08";
		reg = <0x50>;
		pagesize = <16>;
	};
};

&usb3_phy0 {
	status = "okay";
};

&usb_dwc3_0 {
	dr_mode = "otg";
	hnp-disable;
	srp-disable;
	adp-disable;
	usb-role-switch;
	status = "okay";
};

&usb3_phy1 {
	status = "okay";
};

&usb_dwc3_1 {
	dr_mode = "host";
	status = "okay";
};

&cpu_alert0 {
    temperature = <90000>;
};

&cpu_crit0 {
    temperature = <100000>;
};

&soc_alert0 {
    temperature = <90000>;
};

&soc_crit0 {
    temperature = <100000>;
};

&iomuxc {
	pinctrl_fec: fecgrp {
		fsl,pins = <
			MX8MP_IOMUXC_SD1_CLK__ENET1_MDC				0x2
			MX8MP_IOMUXC_SD1_CMD__ENET1_MDIO			0x2
			MX8MP_IOMUXC_SD1_DATA2__ENET1_RGMII_RD0			0x90
			MX8MP_IOMUXC_SD1_DATA3__ENET1_RGMII_RD1			0x90
			MX8MP_IOMUXC_SAI1_RXD6__ENET1_RGMII_RD2			0x90
			MX8MP_IOMUXC_SAI1_RXD7__ENET1_RGMII_RD3			0x90
			MX8MP_IOMUXC_SAI1_TXC__ENET1_RGMII_RXC			0x00
			MX8MP_IOMUXC_SAI1_TXFS__ENET1_RGMII_RX_CTL		0x90
			MX8MP_IOMUXC_SD1_DATA1__ENET1_RGMII_TD0			0x14
			MX8MP_IOMUXC_SD1_DATA0__ENET1_RGMII_TD1			0x14
			MX8MP_IOMUXC_SAI1_TXD2__ENET1_RGMII_TD2			0x14
			MX8MP_IOMUXC_SAI1_TXD3__ENET1_RGMII_TD3			0x14
			MX8MP_IOMUXC_SAI1_TXD4__ENET1_RGMII_TX_CTL		0x14
			MX8MP_IOMUXC_SAI1_TXD5__ENET1_RGMII_TXC			0x00
		>;
	};

	pinctrl_fec_phy_reset: fecphyrstgrp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI2_TXFS__GPIO4_IO24			0x10
		>;
	};

	pinctrl_tpm_reset: tpmrstgrp {
		fsl,pins = <
			MX8MP_IOMUXC_ECSPI2_MOSI__GPIO5_IO11			0x110
		>;
	};

	pinctrl_uart2: uart2grp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI3_TXFS__UART2_DCE_RX			0x140
			MX8MP_IOMUXC_SAI3_TXC__UART2_DCE_TX			0x140
		>;
	};

	pinctrl_usb_hub_rst: usbhubrstgrp {
		fsl,pins = <
			MX8MP_IOMUXC_GPIO1_IO01__GPIO1_IO01			0x100
		>;
	};

	pinctrl_user_leds: userledsgrp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI5_RXD0__GPIO3_IO21			0x140
		>;
	};
};
