// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2022 CompuLab
 */

/ {
	chosen {
		bootargs = "console=ttymxc1,115200 earlycon=ec_imx6q,0x30890000,115200 console=tty0";
		stdout-path = &uart2;
	};
};

&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fec>, <&pinctrl_fec_phy_reset>;
	phy-mode = "rgmii-id";
	phy-handle = <&fecphy>;
	phy-reset-gpios = <&gpio4 24 GPIO_ACTIVE_LOW>;
	phy-reset-duration = <10>;
	phy-reset-post-delay = <150>;
	status = "okay";

	mdio {
		compatible = "snps,dwmac-mdio";
		#address-cells = <1>;
		#size-cells = <0>;

		fecphy: fec-phy@0 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <0>;
			eee-broken-1000t;
		};
	};
};

&gpio1 {
	sd_vsel_m2emmc {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_usdhc2_gpio>;
		gpio-hog;
		gpios = <4 GPIO_ACTIVE_HIGH>;
		line-name = "sd-vsel-m2emmc";
		output-low;
	};
};

&gpio2 {
	usb_hub_reset {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_usb_hub_rst>;
		gpio-hog;
		gpios = <10 GPIO_ACTIVE_HIGH>;
		line-name = "usb_hub_reset";
		output-high;
	};
};

&gpio4 {
	usb_vbus_ena {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_usb2_vbus>;
		gpio-hog;
		gpios = <20 GPIO_ACTIVE_HIGH>;
		line-name = "usb2_host_vbus";
		output-high;
	};
};

&i2c3 {
	status = "okay";
};

&i2c5 {
	status = "okay";
};

&usb3_phy0 {
	status = "okay";
};

&usb_dwc3_0 {
	dr_mode = "otg";
	hnp-disable;
	srp-disable;
	adp-disable;
	usb-role-switch;
	status = "okay";
};

&usb3_phy1 {
	status = "okay";
};

&usb_dwc3_1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usb_mux_sel>;
	dr_mode = "host";
	status = "okay";
};

&usdhc2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc2>;
	non-removable;
	no-1-8-v;
	status = "okay";
};

&cpu_alert0 {
    temperature = <100000>;
};

&cpu_crit0 {
    temperature = <105000>;
};

&soc_alert0 {
    temperature = <100000>;
};

&soc_crit0 {
    temperature = <105000>;
};

&iomuxc {
	pinctrl_fec_phy_reset: fecphyrstgrp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI2_TXFS__GPIO4_IO24			0x19
		>;
	};

	pinctrl_usb_hub_rst: usbhubrstgrp {
		fsl,pins = <
			MX8MP_IOMUXC_SD1_RESET_B__GPIO2_IO10			0x19
		>;
	};

	pinctrl_usb_mux_sel: usbmuxselgrp {
		fsl,pins = <
			MX8MP_IOMUXC_GPIO1_IO15__GPIO1_IO15			0x114
		>;
	};

	pinctrl_usb2_vbus: usb2vbusgrp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI1_MCLK__GPIO4_IO20			0x154
		>;
	};

	pinctrl_usdhc2_gpio: usdhc2gpiogrp {
		fsl,pins = <
			MX8MP_IOMUXC_GPIO1_IO04__GPIO1_IO04			0x101
		>;
	};
};
