// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2025 NXP
 */

#include <dt-bindings/usb/pd.h>

/ {
	aliases {
		ethernet0 = &enetc_port0;
		ethernet1 = &enetc_port1;
		usb0 = &usb3_dwc3;
		usb1 = &usb2;
	};

	chosen {
		bootargs = "console=ttyLP0,115200 earlycon";
	};

	reg_usb_vbus: regulator-vbus {
		compatible = "regulator-fixed";
		regulator-name = "USB_VBUS";
		gpio = <&pca9555 1 GPIO_ACTIVE_HIGH>;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
	};
};

&enetc_port0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enetc0>;
	phy-handle = <&ethphy0>;
	phy-mode = "rgmii-id";
	status = "okay";
};

&enetc_port1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enetc1>;
	phy-handle = <&ethphy1>;
	phy-mode = "rgmii-id";
	status = "okay";
};

&netc_emdio {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_emdio>;
	status = "okay";

	ethphy0: ethernet-phy@1 {
		compatible = "ethernet-phy-ieee802.3-c45";
		reg = <1>;
		eee-broken-1000t;
		reset-gpios = <&gpio5 13 GPIO_ACTIVE_LOW>;
		reset-assert-us = <10000>;
		reset-deassert-us = <80000>;
		realtek,clkout-disable;
	};

	ethphy1: ethernet-phy@4 {
		compatible = "ethernet-phy-ieee802.3-c45";
		reg = <4>;
		eee-broken-1000t;
		reset-gpios = <&gpio4 14 GPIO_ACTIVE_LOW>;
		reset-assert-us = <10000>;
		reset-deassert-us = <80000>;
		realtek,clkout-disable;
	};
};
