config VIDEO_DW_HDMI
	bool "DW HDMI library"

config VIDEO_DW_HDMI_I2C
	bool "DW HDMI i2c ddc device"

config IMX8MP_HDMI_PAVI
	bool

config DRM_SCDC_HELPER
	bool "Enable scdc helper library"

config IMX8M_PM_DOMAINS
	bool "Enable i.MX8M pm domains driver"
	depends on POWER_DOMAIN && ARCH_IMX8M
	help
	  Enable support for manipulating NXP i.MX8MM/MN/MP on-SoC power domains via
	  requests to the ATF.

config VIDEO_IMX8MP_HDMI
	bool "i.MX8MP HDMI support"
	default n
	depends on DM_VIDEO && IMX8MP
	select DRM_SCDC_HELPER
	select VIDEO_DW_HDMI
	select VIDEO_DW_HDMI_I2C
	select PHY_SAMSUNG_HDMI
	select IMX8MP_HDMI_PAVI
	select RESET_IMX_HDMIMIX
	select DISPLAY
	select DISPLAY_DETECT
	help
	  Support for i.MX8MP HDMI controller.
