#include "cl-imx93-shared_defconfig"
CONFIG_TARGET_IOT_LINK=y
CONFIG_CMD_TPM=y
CONFIG_CMD_TPM_TEST=y
CONFIG_LED=y
CONFIG_SPL_LED=y
CONFIG_LED_GPIO=y
# CONFIG_DM_RNG is not set
CONFIG_TPM2_TIS_I2C=y
CONFIG_TPM=y
# CONFIG_SPL_SHA512 is not set
# CONFIG_SPL_SHA384 is not set
