if TARGET_UCM_IMX8M_MINI

config SYS_BOARD
	default "ucm-imx8m-mini"

config SYS_VENDOR
	default "compulab"

config SYS_CONFIG_NAME
	default "ucm-imx8m-mini"

config DEFAULT_FDT
	string
	depends on TARGET_UCM_IMX8M_MINI
	default "ucm-imx8m-mini.dtb"

endif
