if TARGET_UCM_IMX95

config SYS_BOARD
	default "ucm-imx95"

config SYS_VENDOR
	default "compulab"

config SYS_CONFIG_NAME
	default "ucm-imx95"

config DEFAULT_DEVICE_TREE
	default "ucm-imx95"

config DEFAULT_FDT_FILE
	default "ucm-imx95.dtb"

config SYS_I2C_EEPROM_BUS
	default 1

config SYS_I2C_EEPROM_ADDR
	default 0x50

config ENV_OFFSET
	hex "Environment Size"
	default 0x3F0000

config ENV_SIZE
	hex "Environment Size"
	default 0x4000

config SYS_MMC_ENV_PART
	default 0

config SYS_MMC_ENV_PART
	default 1

choice
	prompt "CompuLab i.MX95 dram config"

config DRAM_D8
	bool "D8 dram support"

config DRAM_D4
	bool "D4 dram support"

endchoice

endif
