if TARGET_UCM_IMX95

config SYS_BOARD
	default "ucm-imx95"

config SYS_VENDOR
	default "compulab"

config SYS_CONFIG_NAME
	default "ucm-imx95"

config DEFAULT_DEVICE_TREE
	default "ucm-imx95"

config DEFAULT_FDT_FILE
	default "ucm-imx95.dtb"

config SYS_I2C_EEPROM_BUS
	default 1

config SYS_I2C_EEPROM_ADDR
	default 0x50

config SYS_I2C_EEPROM_BUS_SB
	int
	default 2

config SYS_I2C_EEPROM_ADDR_SB
	hex
	default 0x54

config ENV_OFFSET
	hex "Environment Size"
	default 0x3F0000

config ENV_SIZE
	hex "Environment Size"
	default 0x4000

config SYS_MMC_ENV_PART
	int
	default 1

endif
