if TARGET_UCM_IMX95

config SYS_BOARD
	default "ucm-imx95"

config SYS_VENDOR
	default "compulab"

config SYS_CONFIG_NAME
	default "ucm-imx95"

config DEFAULT_DEVICE_TREE
	default "ucm-imx95"

config DEFAULT_FDT_FILE
	default "ucm-imx95.dtb"

menu "i.MX95 CompuLab Config"

choice
	prompt "CompuLab i.MX8 dram config"

config DRAM_D8
	bool "D8 dram support"

config DRAM_D4
	bool "D4 dram support"

endchoice

endmenu
endif
